# Android
/android/build/
/android/app/build/

# iOS
/ios/Flutter/App.framework/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*

# Build
/build/

# IDE
.idea/
.vscode/
*.iml
*.swp

# Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
pubspec.lock

# Miscellaneous
*.log
*.lock
*.DS_Store